.videocolab_banner_sec {
  background-image: url("../../public//images/video-colaboracion/banner-sec.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text_bannersec {
}

.soluciones_title {
}
